* {
  margin: 0;
  padding: 0; }

body {
  background-color: #00276e;
  width: 100%vw;
  height: 100vh; }

.header__frontpage {
  display: flex;
  position: relative; }

nav {
  padding: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #c4c4c4;
  flex-direction: row; }

.nav__ul {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 80%;
  position: absolute; }
  .nav__ul .nav__item {
    margin-left: 10%;
    display: flex;
    list-style: none;
    font-size: 1.2em; }
    .nav__ul .nav__item .nav__link {
      color: white;
      text-decoration: none; }
    .nav__ul .nav__item .nav__link:hover {
      color: #df7700; }

.div__logo {
  position: relative;
  height: 40%;
  width: 20%;
  display: flex; }
  .div__logo .img__logo--phenx {
    height: 40%;
    width: 40%;
    padding-left: 15%;
    padding-top: 8%; }
